<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/datatable.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <div class="container mt-4">
        <h2 style="margin-bottom:30px">Produtos</h2>
        <table id="ProdutoTable" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Valor Compra</th>
                    <th>Valor venda</th>
                    <th>Data de Criação</th>
                    <th>Quantidade</th>
                    <th>Tamanho</th>
                    <th>Fornecedor</th>

                    <th><i class="fa-solid fa-plus" title="Adicionar Produto" onclick="adicionarProduto()"></i></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="adicionarProdutoModal" tabindex="-1" aria-labelledby="adicionarProdutoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="adicionarProdutoModalLabel">Adicionar Produto</h5>
                    <button type="button" onclick="fecharModalAdicionar()" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <form id="adicionarProdutoForm" action="your_action_url_here" method="post">

                        

                        <div class="mb-3">
                            <label for="nmProduto" class="form-label">Nome do Produto</label>
                            <input type="text" class="form-control" id="nmProduto" name="nmProduto" required="required" placeholder="">
                        </div>

                        <div class="mb-3">
                            <label for="codigo" class="form-label">Código do Produto</label>
                            <input type="text" class="form-control" id="codigo" name="codigo" required="required" placeholder="">
                        </div>

                        <div class="mb-3">
                            <label for="dsProduto"  class="form-label">Descrição do Produto</label>
                            <textarea rows="3" style="resize: none" class="form-control" id="dsProduto" name="dsProduto" required="required" placeholder=""></textarea>
                        </div>

                        <div class="row">
                            <div class="col-6 mb-3">
                                <label for="valorCompra" class="form-label">Valor de Compra</label>
                                <input type="text" class="form-control" id="valorCompra" name="valorCompra" required="required" placeholder="R$ 00,00">
                            </div>

                            <div class="col-6 mb-3">
                                <label for="valorVenda" class="form-label">Valor de Venda</label>
                                <input type="text" class="form-control" id="valorVenda" name="valorVenda" required="required" placeholder="R$ 00,00">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 mb-3">
                                <label for="quantidade" class="form-label">Quantidade</label>
                                <input type="text" class="form-control" id="quantidade" name="quantidade" required="required" placeholder="">
                            </div>

                            <div class="col-6 mb-3">
                                <label for="tamanho" class="form-label">Tamanho</label>
                                <input type="text" class="form-control" id="tamanho" name="tamanho" required="required" placeholder="">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="fornecedor" class="form-label">Fornecedor</label>
                            <select class="form-select" id="fornecedor" name="fornecedor" required="required">
                                <option value="">Selecione um fornecedor</option>
                            </select>
                        </div>


                        <button type="button" class="btn btn-secondary" onclick="fecharModalAdicionar()" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editarProdutoModal" tabindex="-1" aria-labelledby="editarProdutoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="adicionarProdutoModalLabel">Editar Produto</h5>
                    <button type="button" onclick="fecharModalEditar()" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <form id="editarProdutoForm" action="your_action_url_here" method="post">
                        <input type="hidden" id="cdProdutoEdit" name="cdProduto" />
                        <div class="mb-3">
                            <label for="nmProduto" class="form-label">Nome do Produto</label>
                            <input type="text" class="form-control" id="nmProdutoEditar" name="nmProduto" required="required" placeholder="">
                        </div>

                        <div class="mb-3">
                            <label for="codigoEdit" class="form-label">Código do Produto</label>
                            <input type="text" class="form-control" id="codigoEdit" name="codigo" required="required" placeholder="">
                        </div>

                        <div class="mb-3">
                            <label for="dsProduto" class="form-label">Descrição do Produto</label>
                            <textarea rows="3" style="resize: none" class="form-control" id="dsProdutoEditar" name="dsProduto" required="required" placeholder=""></textarea>
                        </div>

                        <div class="row">
                            <div class="col-6 mb-3">
                                <label for="valorCompra" class="form-label">Valor de Compra</label>
                                <input type="text" class="form-control" id="valorCompraEditar" name="valorCompra" required="required" placeholder="R$ 00,00">
                            </div>

                            <div class="col-6 mb-3">
                                <label for="valorVenda" class="form-label">Valor de Venda</label>
                                <input type="text" class="form-control" id="valorVendaEditar" name="valorVenda" required="required" placeholder="R$ 00,00">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 mb-3">
                                <label for="quantidade" class="form-label">Quantidade</label>
                                <input type="text" class="form-control" id="quantidadeEditar" name="quantidade" required="required" placeholder="">
                            </div>

                            <div class="col-6 mb-3">
                                <label for="tamanho" class="form-label">Tamanho</label>
                                <input type="text" class="form-control" id="tamanhoEditar" name="tamanho" required="required" placeholder="">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="fornecedor" class="form-label">Fornecedor</label>
                            <select class="form-select" id="fornecedorEditar" name="fornecedor" required="required">
                                <option value="">Selecione um fornecedor</option>
                            </select>
                        </div>

                        <button type="button" class="btn btn-secondary" onclick="fecharModalEditar()" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <script src="~/js/jquery.js"></script>
    <script src="~/js/jqueryDatatable.js"></script>
    <script src="~/js/mask.js"></script>

    <script>
        let table;
        $(document).ready(function () {
            table = $('#ProdutoTable').DataTable({
                ajax: {
                    url: '@Url.Action("List", "Produto")',
                    type: 'GET',
                },
                columns: [
                    { data: 'id' },
                    { data: 'codigo' }, 
                    { data: 'nome' },
                    { data: 'descricao' },
                    {
                        data: 'valorCompra',
                        render: function (data) {
                            return 'R$ ' + parseFloat(data).toFixed(2).replace('.', ',');
                        }
                    },
                    {
                        data: 'valorVenda',
                        render: function (data) {
                            return 'R$ ' + parseFloat(data).toFixed(2).replace('.', ',');
                        }
                    },
                    { data: 'dataCriacao' },
                    { data: 'quantidade' },
                    { data: 'tamanho' },
                    { data: 'fornecedor' },
                    {
                        data: 'id',
                        render: function (data) {
                            return '<a onclick="editarProduto(' + data + ')" class=""><i title="Editar produto" class="fa-solid fa-pen-to-square" style="color: #2d3034;"></i></a>';
                        }
                    }
                ],
                
                pagingType: "full_numbers",
                stateSave: true,
                language: {
                    search: "Pesquisar:",
                    lengthMenu: "Mostrar _MENU_",
                    info: "Mostrando _START_ a _END_ de _TOTAL_",
                    infoFiltered: "",
                    paginate: {
                        first: "Primeiro",
                        last: "Último",
                        next: "Próximo",
                        previous: "Anterior"
                    }
                }
            });
        });


        const moneyMask = (value) => {
            value = value.replace('.', '').replace(',', '').replace(/\D/g, ''); 
            const options = { minimumFractionDigits: 2 }; 
            const result = new Intl.NumberFormat('pt-BR', options).format(parseFloat(value) / 100); 

            console.log(result); 
            return 'R$ ' + result; 
        };

        $(document).ready(function () {
            $('#valorCompra').on('input', function () {
                const value = $(this).val();
                $(this).val(moneyMask(value)); 
            });

            $('#valorVenda').on('input', function () {
                const value = $(this).val();
                $(this).val(moneyMask(value)); 
            });

            $('#valorCompraEditar').on('input', function () {
                const value = $(this).val();
                $(this).val(moneyMask(value));
            });

            $('#valorVendaEditar').on('input', function () {
                const value = $(this).val();
                $(this).val(moneyMask(value));
            });

            $.ajax({
                url: '@Url.Action("GetFornecedoresAtivos", "Fornecedor")',
                type: 'GET',
                success: function (response) {
                    if (response.success) {
                        var fornecedores = response.message;
                        var $fornecedorSelect = $('#fornecedor');

                        $fornecedorSelect.empty();

                        $fornecedorSelect.append('<option value="">Selecione um fornecedor</option>');

                        fornecedores.forEach(function (fornecedor) {
                            $fornecedorSelect.append('<option value="' + fornecedor.cdFornecedor + '">' + fornecedor.nmFornecedor + '</option>');
                        });
                    } else {
                        alert('Erro ao carregar fornecedores: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert('Erro ao buscar fornecedores: ' + error);
                }
            });

            $.ajax({
                url: '@Url.Action("GetFornecedoresAtivos", "Fornecedor")',
                type: 'GET',
                success: function (response) {
                    if (response.success) {
                        var fornecedores = response.message;
                        var $fornecedorSelect = $('#fornecedorEditar');

                        $fornecedorSelect.empty();

                        $fornecedorSelect.append('<option value="">Selecione um fornecedor</option>');

                        fornecedores.forEach(function (fornecedor) {
                            $fornecedorSelect.append('<option value="' + fornecedor.cdFornecedor + '">' + fornecedor.nmFornecedor + '</option>');
                        });
                    } else {
                        alert('Erro ao carregar fornecedores: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert('Erro ao buscar fornecedores: ' + error);
                }
            });
        });

        function adicionarProduto() {
            $('#adicionarProdutoModal').modal('show');
        }

        function fecharModalAdicionar() {
            $('#adicionarProdutoModal').modal('hide');
        }

        function fecharModalEditar() {
            $('#editarProdutoModal').modal('hide');
        }

        $('#adicionarProdutoForm').on('submit', function (e) {
            e.preventDefault();
            var fornecedor = $('#fornecedor').val(); 
            var valorCompra = parseFloat($('#valorCompra').val().replace('R$', '').replace('.', '').replace(',', '.'));
            var valorVenda = parseFloat($('#valorVenda').val().replace('R$', '').replace('.', '').replace(',', '.'));

            var formData = {
                nmProduto: $('#nmProduto').val(),
                codigo: $('#codigo').val(),
                dsProduto: $('#dsProduto').val(),
                valorCompra: valorCompra,  
                valorVenda: valorVenda,    
                quantidade: $('#quantidade').val(),
                tamanho: $('#tamanho').val(),
                cdFornecedor: fornecedor  
            };

            $.ajax({
                url: '@Url.Action("Create", "Produto")',
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: response.message,
                            icon: "success",
                        });

                        $('#adicionarProdutoForm')[0].reset();
                        $('#adicionarProdutoModal').modal('hide');

                        $('#ProdutoTable').DataTable().ajax.reload(null, false);
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Erro",
                            text: response.message,
                        });
                    }
                },
                error: function () {
                    alert("Erro ao enviar os dados.");
                }
            });
        });

        $('#editarProdutoForm').on('submit', function (e) {
            e.preventDefault();
            var fornecedor = $('#fornecedorEditar').val();
            var valorCompra = parseFloat($('#valorCompraEditar').val().replace('R$', '').replace('.', '').replace(',', '.'));
            var valorVenda = parseFloat($('#valorVendaEditar').val().replace('R$', '').replace('.', '').replace(',', '.'));

            var formData = {
                cdProduto: $('#cdProdutoEdit').val(),
                codigo: $('#codigoEdit').val(),
                nmProduto: $('#nmProdutoEditar').val(),
                dsProduto: $('#dsProdutoEditar').val(),
                valorCompra: valorCompra,
                valorVenda: valorVenda,
                quantidade: $('#quantidadeEditar').val(),
                tamanho: $('#tamanhoEditar').val(),
                cdFornecedor: fornecedor
            };

            $.ajax({
                url: '@Url.Action("Edit", "Produto")',
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: response.message,
                            icon: "success",
                        });

                        $('#editarProdutoForm')[0].reset();
                        $('#editarProdutoModal').modal('hide');

                        $('#ProdutoTable').DataTable().ajax.reload(null, false);
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Erro",
                            text: response.message,
                        });
                    }
                },
                error: function () {
                    alert("Erro ao enviar os dados.");
                }
            });
        });

        function editarProduto(cdProduto) {
            $.ajax({
                url: '@Url.Action("Edit", "Produto")', 
                type: 'GET',
                data: { cd: cdProduto },  
                success: function (response) {
                    debugger
                    if (response.success) {
                        $('#nmProdutoEditar').val(response.nmProduto);
                        $('#codigoEdit').val(response.codigo);
                        $('#cdProdutoEdit').val(response.cdProduto);
                        $('#dsProdutoEditar').val(response.dsProduto);
                        $('#valorCompraEditar').val(response.valorCompra);
                        $('#valorVendaEditar').val(response.valorVenda);
                        $('#quantidadeEditar').val(response.quantidade);
                        $('#tamanhoEditar').val(response.tamanho);
                        $('#fornecedorEditar').val(response.fornecedor);

                        $('#editarProdutoModal').modal('show');
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Erro",
                            text: response.message
                        });
                    }
                },
                error: function () {
                    alert("Erro ao carregar os dados do produto.");
                }
            });
        }

    </script>

</body>
</html>
