@model ControleEstoque.Models.cadConfiguracao

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuração</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/datatable.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 style="margin-bottom:30px">Configuração</h2>

        <ul class="nav nav-tabs mb-3" id="tabs-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tabs-geral-tab" data-bs-toggle="tab" href="#tabs-geral" role="tab" aria-controls="tabs-geral" aria-selected="true">Geral</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tabs-materiais-tab" data-bs-toggle="tab" href="#tabs-materiais" role="tab" aria-controls="tabs-materiais" aria-selected="false">Materiais</a>
            </li>
        </ul>

        <form id="formEdit">
            <input type="hidden" id="cdConfiguracao" name="cdConfiguracao" value="@Model.cdConfiguracao" disabled="disabled">

            <div class="tab-content" id="tabs-tabContent">
                <div class="tab-pane fade show active" id="tabs-geral" role="tabpanel" aria-labelledby="tabs-geral-tab">
                    <fieldset class="border p-3 mb-4">
                        <legend class="w-auto px-2">Geral</legend>
                        <hr />

                        <div class=" row mb-3 align-items-center">
                            <div class="menuDiv col-12 col-md-3">
                                <label for="nomeMenu" class="form-label mb-0">Nome Menu</label>
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="text" class="form-control" id="nomeMenu" name="nomeMenu" value="@Model.nomeMenu">
                            </div>
                        </div>

                        <div class="row mb-3 align-items-center">
                            <div class="menuDiv col-12 col-md-3">
                                <label for="iconeSistema" class="form-label mb-0">Ícone do Sistema</label>
                            </div>
                            <div class="col-12 col-md-6 d-flex flex-row align-items-center">
                                <input type="file" class="form-control me-2" id="iconeSistema" name="iconeSistema" accept="image/*" style="flex: 1;">
                                <img id="previewImagem" src="@(Model.imgSistema != null ? $"data:image/png;base64,{Convert.ToBase64String(Model.imgSistema)}" : "")" class="border p-1" style="max-width: 100px; max-height: 100px; display: @(Model.imgSistema != null ? "block" : "none");">
                            </div>
                        </div>

                        <div class="row mb-3 align-items-center">
                            <div class="menuDiv col-12 col-md-3">
                                <label for="corSistema" class="form-label mb-0">Cor Principal</label>
                            </div>
                            <div class="col-12 col-md-6 d-flex flex-column flex-md-row align-items-center">
                                <input type="color" class="form-control form-control-color mb-2 mb-md-0 me-md-2" id="corSistema" name="corSistema" value="@(Model.corSistema ?? "#ffffff")">
                                <input type="text" class="form-control" id="corSistemaInput" name="corSistema" value="@(Model.corSistema ?? "#ffffff")">
                            </div>
                        </div>

                        <div class="row mb-3 align-items-center">
                            <div class="menuDiv col-12 col-md-3">
                                <label for="corFundoSistema" class="form-label mb-0">Cor de Fundo</label>
                            </div>
                            <div class="col-12 col-md-6 d-flex flex-column flex-md-row align-items-center">
                                <input type="color" class="form-control form-control-color mb-2 mb-md-0 me-md-2" id="corFundoSistema" name="corFundoSistema" value="@(Model.corFundoSistema ?? "#f8f4f4")">
                                <input type="text" class="form-control" id="corFundoSistemaInput" name="corFundoSistema" value="@(Model.corFundoSistema ?? "#f8f4f4")">
                            </div>
                        </div>

                        <div class="row mb-3 align-items-center">
                            <div class=" menuDiv col-12 col-md-3">
                                <label for="corFonteTexto" class="form-label mb-0">Cor da Fonte</label>
                            </div>
                            <div class="col-12 col-md-6 d-flex flex-column flex-md-row align-items-center">
                                <input type="color" class="form-control form-control-color mb-2 mb-md-0 me-md-2" id="corFonteTexto" name="corFonteTexto" value="@(Model.corFonteTexto ?? "#000000")">
                                <input type="text" class="form-control" id="corFonteTextoInput" name="corFonteTexto" value="@(Model.corFonteTexto ?? "#000000")">
                            </div>
                        </div>

                    </fieldset>


                </div>

                <div class="tab-pane fade" id="tabs-materiais" role="tabpanel" aria-labelledby="tabs-materiais-tab">
                    <fieldset class="border p-3 mb-4">
                        <legend class="w-auto px-2">Materiais</legend>
                        <hr />
                        <div class="mb-3 configGroup">
                            <div class="col-md-5 configSubGroup mb-3 d-flex align-items-center">
                                <label for="utilizaMateriais" class="form-label me-3" style="min-width: 150px;">Habilitar Materiais</label>
                                @Html.CheckBox("utilizaMateriais", (Model.utilizaMateriais == true))



                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
        </form>

        <div class="mt-4">
            <button type="submit" id="btnSalvar" class="btn btn-primary">Salvar</button>
        </div>
    </div>

    <script src="~/js/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            let base64String = "";

            

            $('#iconeSistema').on('change', function (event) {
                const file = event.target.files[0];
                const $preview = $('#previewImagem');

                if (file) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        base64String = e.target.result.split(',')[1]; 
                        $preview.attr('src', e.target.result).show();
                    };

                    reader.readAsDataURL(file);
                } else {
                    base64String = "";
                    $preview.hide();
                }
            });

            $('#btnSalvar').on('click', function (e) {
                e.preventDefault(); 
                debugger
                var formulario = $("#formEdit").serializeArray();
                formulario.push({ name: "cdConfiguracao", value: $("#cdConfiguracao").val() });
                formulario.push({ name: "imgSistema", value: base64String });

                $.ajax({
                    url: '@Url.Action("Edit", "Configuracao")',
                    type: 'POST',
                    data: formulario,
                    success: function (response) {
                        if (response.success) {
                                    Swal.fire({
                                        icon: "success",
                                        // title: "Erro",
                                        text: response.message,
                                    }).then(() => {
                                        window.location.reload();
                                    });

                        } else {
                            alert("Erro: " + response.message);
                        }
                    },
                    error: function () {
                        alert("Erro ao tentar salvar as configurações.");
                    }
                });
            });
             
            // Função para sincronizar dois inputs
            function syncColors(input1, input2) {
                $(input1).on('input change', function () {
                    $(input2).val($(input1).val());
                });

                $(input2).on('input change', function () {
                    $(input1).val($(input2).val());
                });
            }

            syncColors('#corFundoSistema', '#corFundoSistemaInput');
            syncColors('#corSistema', '#corSistemaInput');
            syncColors('#corFonteTexto', '#corFonteTextoInput');

        });
    </script>
</body>
</html>
