@model ControleEstoque.Models.cadConfiguracao

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuração</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/datatable.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 style="margin-bottom:30px">Configuração</h2>

        <ul class="nav nav-tabs mb-3" id="tabs-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tabs-geral-tab" data-bs-toggle="tab" href="#tabs-geral" role="tab" aria-controls="tabs-geral" aria-selected="true">Geral</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tabs-produtos-tab" data-bs-toggle="tab" href="#tabs-produtos" role="tab" aria-controls="tabs-produtos" aria-selected="false">produtos</a>
            </li>
        </ul>

        <form id="formEdit">
            <input type="hidden" id="cdConfiguracao" name="cdConfiguracao" value="@Model.cdConfiguracao" disabled="disabled">

            <div class="tab-content" id="tabs-tabContent">
                <div class="tab-pane fade show active" id="tabs-geral" role="tabpanel" aria-labelledby="tabs-geral-tab">
                    <fieldset class="border p-3 mb-4">
                        <legend class="w-auto px-2">Geral</legend>
                        <hr />
                        <div class="mb-3 configGroup">
                            <div class="col-md-5 configSubGroup mb-3 d-flex">
                                <label for="nome" class="form-label me-3" style="min-width: 150px;">Nome Menu</label>
                                <input type="text" class="form-control" id="nomeMenu" name="nomeMenu" placeholder="" value="@Model.nomeMenu">
                            </div>

                            <div class="d-flex align-items-center">
                                <div class="col-md-5 configSubGroup d-flex align-items-center">
                                    <label for="iconeSistema" class="form-label me-3" style="min-width: 150px;">Ícone do Sistema</label>
                                    <input type="file" class="form-control" id="iconeSistema" name="iconeSistema" accept="image/*">
                                </div>
                                <div class="me-3 d-flex align-items-center" style="margin-left:10px">
                                    <img id="previewImagem"
                                         src="@("data:image/png;base64," +Convert.ToBase64String(Model.imgSistema))"
                                         style="max-width: 100px; max-height: 100px; border: 1px solid #ccc; padding: 5px; display: @(Model.imgSistema != null ? "block" : "none");">
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="tab-pane fade" id="tabs-produtos" role="tabpanel" aria-labelledby="tabs-produtos-tab">
                    <fieldset class="border p-3">
                        <legend class="w-auto px-2">produtos</legend>
                        <div class="mb-3">
                            <div class="col-md-4">
                                <label for="telefone" class="form-label">Telefone</label>
                                <input type="tel" class="form-control" id="telefone" name="telefone" placeholder="Digite seu telefone">
                            </div>
                            <div class="col-md-8">
                                <label for="mensagem" class="form-label">Mensagem</label>
                                <textarea class="form-control" id="mensagem" name="mensagem" rows="4" placeholder="Digite sua mensagem"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>

        <div class="mt-4">
            <button type="submit" id="btnSalvar" class="btn btn-primary">Salvar</button>
        </div>
    </div>

    <script src="~/js/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            let base64String = "";

            

            // Manipular a troca da imagem
            $('#iconeSistema').on('change', function (event) {
                const file = event.target.files[0];
                const $preview = $('#previewImagem');

                if (file) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        base64String = e.target.result.split(',')[1]; 
                        $preview.attr('src', e.target.result).show();
                    };

                    reader.readAsDataURL(file);
                } else {
                    base64String = "";
                    $preview.hide();
                }
            });

            // Submissão do formulário via AJAX
            $('#btnSalvar').on('click', function (e) {
                e.preventDefault(); // Evita o envio padrão do formulário

                var formulario = $("#formEdit").serializeArray();
                formulario.push({ name: "cdConfiguracao", value: $("#cdConfiguracao").val() });
                formulario.push({ name: "imgSistema", value: base64String });

                $.ajax({
                    url: '@Url.Action("Edit", "Configuracao")',
                    type: 'POST',
                    data: formulario,
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                        } else {
                            alert("Erro: " + response.message);
                        }
                    },
                    error: function () {
                        alert("Erro ao tentar salvar as configurações.");
                    }
                });
            });
        });
    </script>
</body>
</html>
